atomicwrites==1.4.0
attrs==20.3.0
bleach==3.2.1
certifi==2020.12.5
chardet==4.0.0
colorama==0.4.4
docutils==0.16
et-xmlfile==1.0.1
idna==2.10
iniconfig==1.1.1
jdcal==1.4.1
keyring==21.7.0
openpyxl==3.0.5
packaging==20.8
pkginfo==1.6.1
pluggy==0.13.1
py==1.10.0
Pygments==2.7.3
pyparsing==2.4.7
pyshp==2.1.2
pytest==6.2.1
pywin32-ctypes==0.2.0
readme-renderer==28.0
requests==2.25.1
requests-toolbelt==0.9.1
rfc3986==1.4.0
six==1.15.0
toml==0.10.2
tqdm==4.55.0
twine==3.3.0
urllib3==1.26.2
webencodings==0.5.1
